$font-weight-regular: 	400;
$font-weight-semibold: 	600;
$font-weight-bold: 		700;
$font-style-italic: 	italic;

$line-height-body: 1.5;

$font-size-xxs: 10px;
$font-size-xs:  12px;
$font-size-s:   13px;
$font-size-m:   14px;
$font-size-l:   16px;
$font-size-xl:  20px;
$font-size-xxl: 30px;

$black: 			#222;
$font-color-body: 	#333;
$dark-grey: 		#cfd8dc;
$light-grey: 		#eceff1;

$bgblu: 			#f2f7fa;
$lblu: 				#e3f2fd;
$mblu: 				#99c3df;
$dblu: 				#455a64;

$purple:			#441266;
$pink:				#f81475;
$light-blue: 		#00a7e7;
$blue: 				#00539e;
$light-green: 		#8dc63f;
$dark-green: 		#56a500;
$green: 			hsl(120, 54%, 23%);
$red: 				#ce181e;
$light-orange: 		#f49944;
$dark-orange: 		#f68600;
$yellow: 			#fec34d;
$brown:				#ae9a89;
$dark-brown:		darken($brown, 10);