@import 'variables';

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,900');

* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	min-height: 100vh;
	font-family: 'Roboto', sans-serif;
}

body {
	padding: 50px 0 0;
	background: linear-gradient(180deg, rgba(213,213,213,1) 0%, rgba(235,235,235,1) 20%);
	background-image: url('/media/background.png');
	background-size: cover;
	background-repeat: no-repeat;
}

header {
	line-height: 70px;
	height: 70px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: right;
	padding-right: 50px;
	background: linear-gradient(0deg, rgba(236,236,236,1) 0%, rgba(247,247,247,1) 100%);
	box-shadow: 0 0 6px rgba(0,0,0,0.1);
	a {
		display: inline-block;
		font-weight: bold;
		padding: 0 20px;
		cursor: pointer;
		color: #333;
		&:hover { color: #000; }
		&.phone {
			color: $dark-brown;
			background-image: url('/media/phone.png');
			background-position: 0 26px;
			background-repeat: no-repeat;
			padding-left: 22px;
			font-weight: 300;
			font-size: 17px;
			&:hover { color: darken($dark-brown, 10); }
		}
	}
}

.logo {
	width: 50%;
	height: 72px;
	position: absolute;
	left: 25%;
	top: 0;
	background: url(/media/logo.png) center center;
	display: inline-block;
	background-repeat: no-repeat;
	cursor: pointer;
}

.banner {
	background: $brown;
	color: white;
	padding: 20px;
	.search {
		text-align: center;
		font-size: 0;
		h2 {
			font-weight: 300;
			font-size: 24px;
		}
		input {
			border-radius: 10px;
			height: 50px;
			width: 100%;
			max-width: 700px;
			text-align: center;
			font-size: 20px;
			border: 0;
		}
		.search-icon {
			content: "";
			background-image: url('/media/search.png');
			width: 40px;
			height: 50px;
			display: inline-block;
			background-repeat: no-repeat;
			background-position: left center;
			margin-left: -43px;
			vertical-align: top;
		}
	}
	.filters {
		text-align: center;
		line-height: 30px;
		h3 {
			border-bottom: 1px solid $dark-brown;
			max-width: 800px;
			display: inline-block;
			width: 100%;
			color: white;
			line-height: 30px;
		}
		a {
			background: rgba(255,255,255,0.6);
			color: #333;
			padding: 5px 20px;
			font-size: 14px;
			font-weight: 600;
			border-radius: 50px;
			cursor: pointer;
			line-height: 18px;
			display: inline-block;
			margin: 0 2px;
			&:hover {
				background: rgba(255,255,255,0.7);
			}
			&.color {
				padding: 0;
				width: 20px;
				height: 20px;
				border-radius: 50%;
				margin: 0 5px;
				border: 4px solid hsla(276, 15%, 63%, 1);
				box-sizing: initial;
				&.black {
					background: #222;
					&:hover {
						background: lighten(#222, 10);
					}
				}
				&.blue {
					background: $blue;
					&:hover {
						background: lighten($blue, 10);
					}
				}
				&.purple {
					background: $purple;
					&:hover {
						background: lighten($purple, 10);
					}
				}
				&.red {
					background: $red;
					&:hover {
						background: lighten($red, 10);
					}
				}
				&.yellow {
					background: $yellow;
					&:hover {
						background: lighten($yellow, 10);
					}
				}
				&.white {
					background: #fff;
					&:hover {
						background: lighten(#fff, 10);
					}
				}
			}
		}
	}
}

html[data-step="1"] .steps a:nth-child(1),
html[data-step="2"] .steps a:nth-child(2),
html[data-step="3"] .steps a:nth-child(3),
 {
	background: #282425;
	&:hover { background: darken(#282425, 5); }
}

.checkout {
	max-width: 520px;
	width: 100%;
	padding: 20px 0 50px 20px;
}

.page-container {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

.page-container {
	h1 {
		text-align: right;
		color: #252525;
		padding: 20px 0;
		font-size: 28px;
		font-weight: 300;
		.steps {
			border-bottom: 1px solid #999;
			height: 17px;
			position: relative;
			float: left;
			a {
				cursor: pointer;
				font-size: 25px;
				line-height: 34px;
				vertical-align: top;
				background: rgb(235, 235, 235);
				display: inline-block;
				margin: 0 15px;
				border: 1px solid #999;
				border-radius: 50%;
				width: 34px;
				text-align: center;
				color: #999;
				&:hover { background: #ddd; }
				&:first-child { margin-left: 0; }
				&:last-child { margin-right: 0; }
			}
		}
	}
	form {
		display: block;
		background: white;
		padding: 30px 0 0;
		label {
			text-transform: uppercase;
			padding-left: 60px;
			line-height: 20px;
			font-size: 11px;
			&[for="city"] { padding-left: 20px; }
			&[for="rules"], &[for="privacy"] {
				padding-left: 0;
				text-transform: none;
				display: inline-block;
				white-space: normal;
				width: calc(100% - 80px);
				cursor: pointer;
				user-select: none;
				span {
					text-decoration: underline;
				}
			}
		}
		input {
			display: block;
			margin-left: 60px;
			margin-bottom: 10px;
			padding: 5px;
			vertical-align: top;
			width: calc(100% - 140px);
			&[type="checkbox"] {
				width: 20px;
				height: 20px;
				padding: 5px;
				margin: 0 20px;
				display: inline-block;
				border: 1px solid #808080;
				margin-top: 5px;
			}
			&#zip {
				display: inline-block;
				width: 80px;
			}
			&#city {
				display: inline-block;
				width: 50%;
				margin-left: 20px;
			}
			&[type="submit"] {
				margin: 0;
				display: inline-block;
				width: 50%;
				vertical-align: top;
				background: #ad9a89;
				border: 1px solid #9F8D7D;
				height: 50px;
				color: white;
			}
		}
		a {
			width: 50%;
			display: inline-block;
			padding: 5px;
			border: 1px solid #E4D2C3;
			text-align: center;
			text-transform: uppercase;
			font-size: 12px;
			cursor: pointer;
			&:hover {
				background: #f9f9f9;
			}
			&.active {
				background: #E4D2C3;
				&:hover {
					background: darken(#E4D2C3, 10);
				}
			}
			&.big {
				height: 50px;
				line-height: 42px;
				text-transform: none;
			}
		}
		div.checks {
			white-space: nowrap;
		}
	}
	.block-container {
		max-width: 1000px;
		margin: 0 auto;
		font-size: 0;
		text-align: center;
	}
	.block {
		font-size: 16px;
		display: inline-block;
		width: 27%;
		background: $brown;
		vertical-align: top;
		height: 350px;
		margin: 0 3%;
		position: relative;
		cursor: pointer;
		color: white;
		&:hover {
			background: lighten($dark-brown, 5);
		}
		span.v-center {
			padding-top: 130px;
			display: inline-block;
		}
		span.next {
			position: absolute;
			width: 100%;
			height: 60px;
			line-height: 60px;
			bottom: 0;
			left: 0;
			border-top: 1px solid white;
			display: inline-block;
			font-weight: 300;
		}
		span.top {
			padding: 20px;
			display: inline-block;
		}
	}
}

footer {
	background: $dark-brown;
	color: #eee;
	text-align: center;
	position: relative;
	h3 {
		background: linear-gradient(0deg, rgb(238, 238, 238) 0%, rgb(245, 245, 245) 100%);
		line-height: 40px;
		text-align: center;
	}
	h4 {
		text-transform: uppercase;
		cursor: default;
	}
	div {
		display: inline-block;
		vertical-align: top;
		text-align: left;
		width: 25%;
		padding: 20px;
		a {
			display: block;
			font-weight: 300;
			color: #ccc;
			cursor: pointer;
			&:hover { color: #fff; }
		}
	}
	.facebook {
		position: absolute;
		right: 20px;
		bottom: 20px;
		font-size: 40px;
		background: #efefef;
		border-radius: 50%;
		width: 50px;
		color: $dark-brown;
		font-weight: 600;
		cursor: pointer;
		height: 50px;
		line-height: 57px;
		padding-right: 3px;
		&:hover {
			background-color: white;
		}
	}
}